:root {
    /*--light-blue: #EAF2FD;*/
    /*--blue: #2F80ED;*/
    --deep-blue: #1C005C;
    /*--almost-black: #000F2E;*/
    --gray: #333333;
    /*--light-gray: #9D9D9D;*/
    --violet: #783BFF;
    /*--green: #4BC937;*/
    --yellow: #FFA83B;
}