*, *::before, *::after
  margin: 0
  +box

body
  background-color: white
  color: black
  font-family: 'Ubuntu', sans-serif

ul
  margin: 0
  padding: 0
  list-style: none

ol
  margin: 0
  padding: 0

a
  text-decoration: none

.title
  &_description
    font-size: 18px
    margin-bottom: 16px

  &_h1
    text-transform: uppercase
    font-size: 64px
    font-weight: 700
    line-height: 1.3

  &_h2
    text-transform: uppercase
    font-size: 48px
    font-weight: 700
    line-height: 1.3
    z-index: 50

  &_h3
    font-size: 24px
    font-weight: 500

.wrapper
  &_center
    text-align: center
    display: flex
    flex-flow: column
    align-items: center

  &_color1
    background-color: var(--bg-almost-white)
    +border-radius(24px 24px 0 0)

  &_color2
    background-color: var(--bg-almost-white)
    +border-radius(0 0 24px 24px)

.btn
  border: none
  text-decoration: none
  cursor: pointer

  &__burger
    padding: 0
    position: relative
    +center
    width: 28px
    height: 20px
    font-size: 0
    background-color: inherit
    border: none
    z-index: 20
    &:focus
      outline: none
    &:focus-visible
      outline: var(--purple)
    span
      display: block
      width: 100%
      height: 2px
      background-color: var(--violet)
      transition: transform 0.3s, background-color 0.3s ease-out
    span::before, span::after
      content: ''
      position: absolute
      right: 0
      display: block
      width: 100%
      height: 2px
      background-color: var(--violet)
      transition: transform 0.3s ease-in-out
    span::before
      top: 0
    span::after
      bottom: 0
    &.active span
      background-color: transparent
    &.active span::before
      transform: rotate(45deg)
      top: 9px
    &.active span::after
      transform: rotate(-45deg)
      bottom: 9px

  &_round
    padding: 16px 30px 14px
    display: inline-block
    +border-radius(22px)
    font-size: 14px
    font-weight: 500
    line-height: 1
    text-decoration: none

  &_sqr
    padding: 12px 20px 12px
    display: inline-block
    +border-radius(5px)
    font-size: 18px
    font-weight: 500
    line-height: 1

  &_white
    color: white
    border: 1px solid white
    -webkit-transition: color 0.3s, border 0.3s, background-color 0.3s
    -moz-transition: color 0.3s, border 0.3s, background-color 0.3s
    -ms-transition: color 0.3s, border 0.3s, background-color 0.3s
    -o-transition: color 0.3s, border 0.3s, background-color 0.3s
    transition: color 0.3s, border 0.3s, background-color 0.3s

    &:hover
      color: var(--bg-almost-white)
      background-color: rgba(255, 255, 255, 0.1)
      border: 1px solid var(--bg-almost-white)

  &_black
    color: black
    border: 1px solid black
    -webkit-transition: background-color 0.1s
    -moz-transition: background-color 0.1s
    -ms-transition: background-color 0.1s
    -o-transition: background-color 0.1s
    transition: background-color 0.1s

    &:hover
      background-color: var(--bg-almost-white)

  &_yellow
    color: white
    background-color: var(--yellow)
    border: 1px solid var(--yellow)
    -webkit-transition: color 0.3s, border 0.3s, background-color 0.3s
    -moz-transition: color 0.3s, border 0.3s, background-color 0.3s
    -ms-transition: color 0.3s, border 0.3s, background-color 0.3s
    -o-transition: color 0.3s, border 0.3s, background-color 0.3s
    transition: color 0.3s, border 0.3s, background-color 0.3s

    &:hover
      background-color: var(--orange)
      border: 1px solid var(--orange)

  &_yellow-transparent
    color: var(--yellow)
    border: 1px solid var(--yellow)

  &_violet
    color: white
    background-color: var(--violet)

.container
  padding: 0 10px
  margin: 0 auto
  max-width: 1400px
  width: 100%
  &_body
    margin-top: 48px
    position: relative
    overflow: hidden
  &_1200
    padding: 0 8px
    margin: 0 auto
    max-width: 1200px
    width: 100%

.sm
  &__list
    display: flex
    gap: 16px

    &_header
      .sm__link
        border: 1px solid var(--violet)

  &__link
    width: 36px
    height: 36px
    display: flex
    +center
    +border-radius(50%)
    border: 1px solid white

.violet
  color: var(--violet)

.visually-hidden
  position: absolute
  width: 1px
  height: 1px
  margin: -1px
  border: 0
  padding: 0
  white-space: nowrap
  clip-path: inset(100%)
  clip: rect(0 0 0 0)
  overflow: hidden

@-webkit-keyframes flip-vertical-left
  0%
    -webkit-transform: rotateY(0)
    transform: rotateY(0)
  100%
    -webkit-transform: rotateY(-180deg)
    transform: rotateY(-180deg)

@keyframes flip-vertical-left
  0%
    -webkit-transform: rotateY(0)
    transform: rotateY(0)
  100%
    -webkit-transform: rotateY(-180deg)
    transform: rotateY(-180deg)
