.program
  background: url("../images/bg_yellow_pattern.jpg")
  &__text
    padding: 40px 0 30px 200px
    max-width: 760px
    p
      margin-bottom: 30px
      color: white
      font-size: 32px
      line-height: 1.5

.author
  &__text
    padding-left: 140px

.books
  margin: 64px 0
  padding: 54px 0
  background: url("../images/s_line_5.png") bottom no-repeat
  background-size: contain
  .title_h2
    max-width: 600px
  &__list
    margin-top: 30px
    display: flex
    gap: 18px
    &__image-wrapper
      max-width: 282px
      +border-radius(14px)
      img
        max-width: 100%
        +border-radius(14px)

.benefits
  padding: 120px 0
  background-color: var(--violet)
  &__list
    margin-bottom: 40px
    display: flex
    gap: 20px
  &__item
    padding: 30px
    background-color: white
    +border-radius(24px)
  &__link
  .title_h2
    margin-bottom: 40px
    max-width: 500px
    color: white

.questions
  padding: 120px 0
  background: url("../images/s_line_6.png") bottom no-repeat
  background-size: contain

