@media only screen and (max-width: 360px)

@media only screen and (max-width: 768px)
  .books
    &__list
      flex-flow: wrap


@media only screen and (max-width: 1024px)
  .author
    &__content
      margin: 24px 20px 0 20px
    &__image-wrapper
      top: unset
      bottom: 30%
      #scene3
        display: none

  .benefits
    padding: 60px 0
