@media only screen and (max-width: 1324px)
  .program
    &__text
      padding: 40px 0 30px 56px
      max-width: 600px
      p
        font-size: 28px

  .author
    &__image-wrapper
      right: 16px
    &__star-trek
      opacity: 0.6

@media only screen and (max-width: 1024px)
  .title
    &_h1
      font-size: 52px

  .hero
    padding-bottom: 0
    background: white
    &__img-wrapper
      justify-content: space-around
    &__img-block
      &_1
        max-width: 340px
      &_2
        max-width: 280px
    #scene1
      margin: 0

  .program
    &__text
      padding: 30px 0 30px 36px
      max-width: 420px
      p
        font-size: 24px

  .about
    &__list
      grid-template-columns: repeat(2, 1fr)
      grid-template-rows: repeat(3, 1fr)
    &__item
      &_2::after
        opacity: 0.4
        right: 12px
      &_3::after
        opacity: 0.2
        bottom: -22px
        right: 24px
      &_5::after
        opacity: 0.4
        bottom: -20px
        right: -12px

  .author
    padding: 80px 0
    &__content
      margin: 24px 20px 0 20px
    &__image-wrapper
      top: unset
      bottom: 30%
      #scene3
        display: none

  .questions, .benefits, .contacts
    padding: 80px 0

  .contacts
    &__info p
      font-size: 28px
    &__content__half
      padding: 40px 32px

@media only screen and (max-width: 864px)
  .program
    &__cards__img-wrapper
      &_1
        bottom: 140px
      &_2
        right: 104px
      &_3
        top: -42px

  .books
    &__list
      flex-flow: wrap
      justify-content: space-around

  .author
    &__content
      p
        font-size: 18px

  .contacts
    &__content
      flex-flow: column
    &__info
      p
        margin-left: auto
        text-align: right
        color: black
    .form_contacts
      &__text
        text-align: center

@media only screen and (max-width: 768px)
  .container_body
    margin-top: 12px
  .title
    &_h1
      font-size: 48px
    &_h2
      font-size: 42px

  .header
    &__btn__burger
      display: flex
    &__burger
      flex-flow: column
      justify-content: flex-start
      gap: 60px
      background-color: transparent
      transition: transform 0.5s ease-in-out, background-color 0.4s
      //visibility: hidden
      z-index: 20
      position: absolute
      right: 0
      left: 0
      top: 100%
      height: 100vh
      transform: translateY(-120%)
      &.active
        transform: translateY(0)
        background-color: var(--bg-almost-white)
        transition: transform 0.5s ease-in-out, background-color 0.4s
    &__sm__list
      margin: 0 auto
      position: static
    &__bottom__list
      flex-flow: column
      text-align: center

  .hero
    #scene2
      position: unset
      bottom: unset
      right: unset
      width: 200px
    #scene5
      margin-top: 0
    #scene6
      position: unset
      bottom: 0
      right: 0
      width: 200px
    &__img-block
      &_1
        max-width: 280px
  .program
    &__cards__img-wrapper
      &_1
        width: 118px
        right: 40px
        bottom: 112px
      &_2
        width: 128px
        right: 20px
        bottom: 0
      &_3
        width: 152px
        top: 12px
    &__text
      margin-right: 160px
      max-width: unset
      p
        font-size: 22px

  .about
    &__list
      grid-template-columns: 1fr
      grid-template-rows: unset
    &__item_big
      grid-column: unset
    &__content
      .wrapper_btn
        margin-top: 36px
    &__divider
      height: 60px

  .author
    &__content
      p
        margin: 10px 0
        text-align: justify
    &__image-wrapper
      position: unset
      display: flex
      justify-content: center

  .books
    &__list
      flex-flow: wrap

  .questions
    &__item
      flex-flow: column
      &:first-child .questions__item__img-wrapper
        margin-left: unset
      &:nth-child(3) .questions__item__img-wrapper img
        margin: -80px 0
      img
        max-width: 100%


@media only screen and (max-width: 640px)
  .title_h1
    font-size: 40px

  .header
    &__top__block
      &_menu
        order: 1
      &_callback
        order: 2
        flex: 3
      &_logo
        flex: 100%

  .program
    &__text
      padding-left: 20px

  .contacts
    &__content
      &__half
        padding: 40px 16px

@media only screen and (max-width: 480px)
  .title
    &_h1
      font-size: 36px
    &_h2
      font-size: 32px
    &_h3
      font-size: 22px

  .hero
    &__text
      padding: 30px 0

  .program
    &__text
      margin-right: 60px
      padding-left: 8px
      p
        font-size: 20px
    &__cards__img-wrapper
      &_1
        width: 96px
        top: 8px
        right: -20px
      &_2
        width: 88px
        right: 10px
        bottom: 8px
      &_3
        width: 108px
        top: 12px
        right: -30px


  .about
    &__content
      margin: 48px 0 0
    &__item
      p
        font-size: 18px
        text-align: justify

  .author
    &__content
      margin: 24px 8px 0 8px
      padding: 36px 16px

  .books
    &__content__text
      margin: 24px 0 0
      p
        text-align: justify

  .benefits
    &__list
      flex-flow: column
    &__item
      padding: 20px
      min-height: 120px
      &__text
        width: unset

  .questions
    &__item
      &__text p
        text-align: justify
  .contacts
    &__content
      &__half
        padding: 40px 16px
    &__info
      p
        font-size: 24px
    .form
      &_contacts
        &__controls
          flex-flow: column
          height: unset
      &__policy
        text-align: center
  .notice_checked + label
    display: inline-block

  .footer
    &__top
      flex-flow: column
    &__logo
      margin: 0

@media only screen and (max-width: 360px)
  .program__text
    &__cards__img-wrapper_1
      top: 92px
    p
      font-size: 18px

  .about__item
    padding: 70px 10px 20px 10px
  .books__content__text p
    font-size: 16px

  .questions
    &__item
      &__text
        padding: 8px 16px

