.header
  padding: 48px 0 16px
  background-color: white
  &__top
    padding-bottom: 8px
    display: flex
    justify-content: space-between
    align-items: center
    border-bottom: 1px solid white
  &__bottom
    margin-top: 16px
    display: flex
    justify-content: center
    &__list
      display: flex
      justify-content: center
      flex-flow: wrap
      gap: 16px
    &__link
      padding: 4px
      display: inline-block
      color: black
      cursor: pointer
